/*
    Position
        - Static: posição padrão dos elementos; segue o fluxo do html conforme a sequencia lógica; posição default dos elementos
        - Relative: podemos alterar sua posição através das propriedades de direções; pode sobrepor sobre outros elementos (não indicado !!!)
        - Absolute: pode ser referenciar pela tela ou por algum elemento; elemento absoluto pai de um elemento relativo, a referencia vai ser o relativo (pai)
        - Fixed: posição que fixa o elemento na tela
        - Sticky: mistura de fixed com relative    
*/

html{
    padding-bottom: 1000px;
}

div{
    height: 50px;                   /* Altura */
    background-color: #ccc;       /* Cor de fundo */
    border: 1px solid #222;       /* Espessura, tipo e cor da borda */
    padding: 10px;                  /* Espaçamento interno em todos os lados */
}


/* Position Relative */
.relative{
    background-color: #321;             /* Cor de fundo */
    position: relative;                   /* Posição relativa */
    color: #fff;                        /* Cor do texto */
}

.relative-alterada{
    top: 20px;                            /* Posição ocupado ao topo */
    left: 20px;                           /* Posição ocupada a esquerda */
}

/* Position Absolute */
.absolute{
    height: 25px;                       /* Altura */
    width: 70px;                        /* Dimensão da largura */
    background-color: #914;           /* Cor de fundo */
    position: absolute;                 /* Posição absoluta */
    top: 20px;                          /* Posição ocupada ao topo */
    left: 20px;                         /* Posição ocupada a esquerda */
}

/* Position Fixed */
.fixed{
    width: 50px;                        /* Largura */
    height: 50px;                       /* Altura */
    background-color: #528;           /* Cor de fundo */
    position:fixed;                     /* Posição fixa */    
    top:10px;                           /* Posição ocupada no topo */
    left:100px;                         /* Posição ocupada a esquerda */
}

/* Positio Sticky */
.sticky{
    height: 50px;                       /* Altura */
    width: 100px;                       /* Largura */
    top:10px;                           /* Posição ocupada no topo */
    background-color: #881;           /* Cor de fundo do elemento */
    position: sticky;                   /* Posição sticky */
}